# Data
numpy>=1.18.1,<=1.19.3
pandas>=1.1.0
scipy>=1.4.1

# Graphs + vizualisation
pydotplus>=2.0.2
graphviz>=0.13.2
IPython
plotly>=4.9.0
# needed for plotly:
nbformat>=4.2.0


# ML
scikit-learn>=0.23.2