# Data
numpy>=1.18.1
pandas>=1.1.0
scipy>=1.4.1

# Graphs + vizualisation
pydotplus>=2.0.2
graphviz>=0.13.2
plotly>=4.9.0
IPython
# needed for IPython:
matplotlib
# needed for plotly:
nbformat>=4.2.0


# ML
scikit-learn>=0.23.2